:root {
  font-family: 'Inter', sans-serif;
}

html {
  min-height: 100%;
}

body {
  opacity: 0.9;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.962) 0%, rgba(0, 0, 0, 0.7) 100%), url("https://i.im.ge/2022/08/11/FnjAmG.giphy.gif");
  width: 99.9vw;
  height: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5rem;
  padding-inline: 15px;
  background-color: #2E245E;
  border-bottom: 2px solid goldenrod;
}

#logo {
  width: 12.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 650px;
  height: 1.688rem;
  font-size: 15px;
  margin-right: 10px;
}

input {
  height: 2rem;
  width: 13.313rem;
  border: 3px solid rgba(5, 5, 5, 0.653);
  border-radius: 8px;
  background-color: #f5f5f5;
  font-size: 20px;
  font-weight: bold;
}

.boxButtonsNav {
  width: 40.625rem;
  height: 1.688rem;
}

.buttonNav {
  background-color: transparent;
  border-style: none;
  font-size: 24px;
  color: gold;
  cursor: pointer;
}

#buttonMobile {
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border-style: none;
  display: none;
}

#buttonMobile i {
  font-size: 64px;
}

.buttonNav:hover {
  color: rgb(190, 109, 2);
}

h1 {
  font-size: 38px;
  font-weight: bold;
  margin-left: 55px;
  color: gold;
}

main {
  margin: 150px 0 80px;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 131.25rem;
  margin: 35px 0 0 60px;
}

.cards_list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3.438rem;
  box-sizing: border-box;
}

.box_card {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 21.625rem;
  height: 29.563rem;
  background-color: transparent;
  border: 2px solid darkgoldenrod;
  border-radius: 10px;
  overflow: hidden;
}

.box_card:hover {
  transform: scale3d(1.2, 1.2, 2);
  transition: 0.3s ease-in-out;
}

.box_card:not(:hover){
  transition: .5s;
}

.box_card:hover .box_li_content {
  transform: translateY(-180px);
  transition: 0.5s ease-in-out;
  background-color: #050d1a;
}

.box_card:not(:hover) .box_li_content {
  transition: .5s;
} 

.box_li_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: auto;
  background-color: #050d1a;
  transform: translateY(-55px);
}

.span_section {
  height: 2.188rem;
  border-radius: 50px;
}

.divDescription {
  height: 5rem;
  margin-top: 10px;
  font-size: 15px;
  color: #2E245E;
  font-weight: 600;
}

.cards_list h4 {
  font-size: 28px;
  font-weight: bolder;
  color: aliceblue;
  margin-bottom: 10px;
}

.cards_list li p {
  font-size: 23px;
  margin-top: 10px;
  line-height: 20px;
  color: rgb(151, 71, 237);
  margin-bottom: 30px;
  font-weight: bold;
}

.cards_list li span {
  border-style: none;
  font-weight: bold;
  padding: 0;
  margin: 10px;
  color: #ffffff;
  text-align: start;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 13px;
  background: #05111e;
}

body::-webkit-scrollbar-button {
  background-color: transparent;
  height: 0px;
}

body::-webkit-scrollbar-track-piece {
  background: #05111e;
}

body::-webkit-scrollbar-thumb {
  background: #9f9160;
  border-radius: 5px;
}


@media (max-width: 1140px) {

  header {
    justify-content: space-between;
  }

  nav {
    width: 4.375rem;
    height: 3.75rem;
    justify-content: center;
  }

  nav.active .boxButtonsNav {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 110px;
    left: 0px;
    gap: 8px;
    
  }

  .boxButtonsNav {
    display: none;
    z-index: 1000;
    width: 100%;
    height: 2.5rem;
  }

  .boxButtonsNav button {
    border: 1px solid rgb(190, 109, 2);
  }

  #buttonMobile {
    display: flex;
  }
}

@media (max-width: 600px) {

  header {
    padding: 0;
  }

  .container {
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  input {
    display: none;
  }

  nav.active .boxButtonsNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: transparent;
    gap: 0.5rem;
    
  }

  .boxButtonsNav {
    display: none;
    justify-content: center;
    z-index: 1000;
    background-color: transparent;
    width: 100%;
    height: 2.5rem;
  }

  .cards_list li {
    width: 21.125rem;
    height: 25.563rem;
  }

  .box_card {
    width: 18.375rem;
    height: 25.313rem;
  }

  .box_card:hover {
    transform: scale3d(1.1, 1.1, 2);
    transition: 0.3s ease-in-out;
  }
}
